{% extends "adminbar.html" %}
{% block content %}
<title>ADMIN PAGE</title>
<br><br><br>

<div class="tableau">

    <table class="table table-striped">
        <thead>
        <tr class="pg-primary bg-fluid">
            <th class="alert-success">Titre</th>
            <th class="alert-success">Date publication</th>
            <th class="alert-success">Modification</th>
        </tr>
        </thead>

        {% for article in articles %}
        <tbody>
        <tr class="bg-success">
            <td><a href="/article/{{article.identifiant}}">{{article.titre}}</a></td>
            <td>{{article.date_publication}}</td>
            <td>
                <form action="/modifier/{{article.identifiant}}"><input type="submit" value="Modifier"/></form>
            </td>
        <tr>
        </tbody>
        {% endfor %}
    </table>

</div>

{% endblock %}