<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN PAGE</title>
</head>
<body>
<h5>This is admin Page!</h5>
<h3> <a href="/admin-nouveau"> Nouveau Article </a> </h3>
 <ul>
    {% for article in articles %}
        <li>Titre: {{ article.titre }}</li>
        <li> Date Publication: {{article.date_publication}}</li>
        <form action="/modifier/{{article.identifiant}}"><input type="submit" value="Modifier"/></form>
     ----------------------------------------------------
    {% endfor %}
  </ul>
</body>
</html>