<meta charset="utf-8">


{% extends "navbar.html" %}
{% block content %}
<title>Recherche</title>
<br><br><br><h3 style="color:#700">Resultat de: {% if mot %}
    {{mot}}
    {% endif %}</h3>
<br><br><br>

<div class="tableau">

    <table class="table table-striped">
        <thead>
        <tr class="pg-primary bg-fluid">
            <th class="alert-success">Titre</th>
            <th class="alert-success">Date publication</th>

        </tr>
        </thead>

        {% for article in articles %}
        <tbody>
        <tr class="bg-success">
            <td><a href="/article/{{article.identifiant}}">{{article.titre}}</a></td>
            <td>{{article.date_publication}}</td>

        <tr>
        </tbody>
        {% endfor %}
    </table>

</div>

{% endblock %}