{% extends "navbar.html" %}
{% block content %}

<meta charset="UTF-8">
<div class="tableau">

    <table class="table table-striped">
        <thead>
        <tr class="pg-primary bg-fluid">
            <th class="alert-success">Titre</th>
            <th class="alert-success">Identifiant</th>
            <th class="alert-success">Auteur</th>
            <th class="alert-success">Date de publication</th>
            <th class="alert-success">Paragraphe</th>

        </tr>
        </thead>

        <tbody>
        <tr class="bg-success">
            <td>{{article.titre}}</td>
            <td>{{article.identifiant}}</td>
            <td>{{article.auteur}}</td>
            <td>{{article.date_publication}}</td>
            <td class="parag"><p>{{article.paragraphe}}</p></td>
        <tr>
        </tbody>

    </table>

</div>

{% endblock %}
