{% extends "adminbar.html" %}
{% block content %}
<meta charset="UTF-8">
<title>New Article</title>

<br><br><br><h3>Nouveau Article</h3>
{% if erreur %}
<p style="color:#700">{{ erreur }}</p>
{% endif %}
{% if id_erreur %}
<p style="color:#700">{{ id_erreur }}</p>
{% endif %}
{% if date_erreur %}
<p style="color:#700">{{ date_erreur }}</p>
{% endif %}
{% if id2_erreur %}
<p style="color:#700">{{ id2_erreur }}</p>
{% endif %}

<form action="/envoyer" method="post">
    <div class="tableau">

        <table class="table table-striped">
            <thead>
            <tr class="pg-primary bg-fluid">
            </tr>
            </thead>

            <tbody>
            <tr class="bg-success">
                <td>titre</td>
                <td><input type="text" name="titre" size="40" value="{{ request.form['titre'] }}"></td>

            </tr>

            <tr class="bg-success">
                <td>identifiant</td>
                <td><input type="text" name="idArticle" size="40" value="{{ request.form['idArticle'] }}"></td>
            </tr>

            <tr class="bg-success">
                <td>auteur</td>
                <td><input type="text" name="auteur" size="40" value="{{ request.form['auteur'] }}"></td>
            </tr>

            <tr class="bg-success">
                <td>date:</td>
                <td><input type="date" name="date" size="40" value="{{ request.form['date'] }}"></td>
            </tr>

            <tr class="bg-success">
                <td>paragraphe:</td>
                <td><textarea rows="4" cols="50" name="paragraphe" value="{{ request.form['paragraphe'] }}"></textarea>
                </td>
            </tr>

            <tr class="bg-success">

                <td><input type="submit" value="envoyer"></td>
            </tr>

            </tbody>
        </table>

    </div>
</form>
{% endblock %}