<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Article</title>
</head>
<body>
<h5>New Article</h5>
{% if erreur %}
    <p style="color:#700">{{ erreur }}</p>
{% endif %}
{% if id_erreur %}
    <p style="color:#700">{{ id_erreur }}</p>
{% endif %}
{% if date_erreur %}
    <p style="color:#700">{{ date_erreur }}</p>
{% endif %}
{% if id2_erreur %}
    <p style="color:#700">{{ id2_erreur }}</p>
{% endif %}

<form action="/envoyer" method="post">

    titre : <input type="text" name="titre" size="40" value="{{ request.form['titre'] }}">
    identifiant: <input type="text" name="idArticle" size="40" value="{{ request.form['idArticle'] }}">
    auteur: <input type="text" name="auteur" size="40" value="{{ request.form['auteur'] }}">
    date (YYYY-MM-DD):<input type="date" name="date" size="40" value="{{ request.form['date'] }}">
    paragraphe: <input type="text" name="paragraphe" size="400" value="{{ request.form['paragraphe'] }}">
    <input type="submit"  value="envoyer">

</form>
</body>
</html>